.container{
  height: 97vh;
  display: -webkit-flex;
  display:  -webkit-box;
  display:  -ms-flexbox;
  display:         flex;
  -webkit-align-items: center;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
}
.rect {
  background: #ccc;
  height: 200px;
  width:  400px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
#circle-1 {
  background: #fc0;
  border-radius: 50px;
  height: 100px;
  width:  100px;
  position: absolute;
  top:  -50px;
  left: -50px;
}
#circle-2 {
  background: #fc0;
  border-radius: 50px;
  height: 100px;
  width:  100px;
  position: absolute;
  bottom: -50px;
  right:  -50px;
}

